#navbar-container {
    background-color: #455A64;
    height: 63px;
    margin-bottom: 0;
}

#body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}

.navLink {
    font-size: 1em;
}

.welcomeTextColor {
    color: #757575;
}

.welcomeText {
    font-size: 1.5em;
    color: #757575;

}



#parallaxContainerHome {
    background-image: url("/statics/devicesImageHome.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#propertyDescriptionHeader {
    font-size: 2.3em;
}

.propertyDetailDescriptor {
    font-size: 2em;

}

#loginDropdown {
    padding: 6px;
}

#googleMap {
    margin-top: 60px;
    margin-bottom: 60px;
}

#editAgentNone {
    height: 200px;
}

#addAgentNone {
    margin-top: 50px;
}

.propertyDetailsText {
    font-size: 2.75em;
    font-weight: bold;
}

#agentsSectionDiv {
    background-color: #171717;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    margin-top: 15px;
}

#footerStyle {
    background-color: #607d8b;
    height: 55px;
}

#iconRow {
    margin-top: 15px;
    margin-bottom: 15px;
}

.whiteText {
    color: white;
}

.greyText {
    color: #757575;
}

.nameText {
    font-size: 1.75em;
}

.numberText {
    font-size: 1.5em;
}

.agentPhoto {
    width: 170px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactIcons {
    margin-left: 4px;
    margin-right: 4px;
}

#agentText {
    margin-top: 20px;
}

#propertyDetailsDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E0E0E0;
    height: 200px;
}

.propertyInput {
    margin-top: 15px;
}

#propertyDetailsEditDiv {
    padding: 5px;
}

#propertyDescriptionBody {
    font-size: 1.7em;
    color: #757575;
    text-align: justify;
    line-height: 155%;
}